.ConsentForm {
  width: 80%;
  height: 650px;
  margin: 0 auto;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: darkslategray;
  text-align: center;
}

.ConsentForm p {
  text-align: left;
  padding: 0 100px;
}

.Terms {
  color: black;
  height: 300px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px;
  width: 75%;
  margin: auto;
}

.Terms p {
  padding: 0 20px;
}

.AcceptTermsButton button {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
}

.unavailable {
  background-color: #ccc;
  color: #a6a9ae;
}

.available {
  background-color: #F75C03;
  color: white;
}

.available:hover, .available:focus, .available:active {
  background-color: white;
  color: #F75C03;
  cursor: pointer;
}

.ConsentForm form {
  padding: 20px 0;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .ConsentForm {
    width: 90%;
    height: 700px;
  }

  .Terms {
    width: 80%;
  }
}

@media (max-width: 799px) {
  .ConsentForm {
    width: 99%;
    height: 800px;
  }

  .ConsentForm p {
    padding: 0 10px;
  }

  .Terms {
    width: 90%;
  }

  .AcceptTermsButton button {
    padding: 20px;
    width: 40%;
  }
}
